body {
  font-family: $sansSerif;  
}

a {
  color: $highlight;
}

input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

