img {
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .row > [class*="grid"] {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .home-content {
    padding-top: 0!important;
    .grid-third, .grid-fifth {
      margin-bottom: 20px;
    }
    .intro p {
      width: 100%;
    }
  }
  .podcast-archive .button-group .btn-light:last-child {
    float: none;
    margin-left: 10px;
  }
  .widget {
    margin-left: 0;
  }
  .site-header {
    margin-bottom: 30px;
  }
  .site-nav ul {
    li {
      padding-left: 0;
      padding-right: 20px;
    }
  }
  .home .optin {
    input {
      width: 100%!important;
      display: block;
    }
    input[type=submit] {
      margin-top: 15px;
    }
  }
  .grid-third .bordered-image {
    display: inline-block;
  }
  .content-nav {
    padding-bottom: 30px;
  }
   .site-footer {
    text-align: center;
    .logo {
      margin-bottom: 20px;
    }
    .pull-l, .pull-r {
      float: none;
      width: 100%;
    }
    ul {
      margin-top: 20px;
    }
    li {
      padding-left: 0;
      padding-right: 20px;
    }
  }
  .modal {
    width:auto;
    margin-left: 0;
    margin-top: 0;
    left: 20px;
    right: 20px;
    top:20px;    
  }
  .optin {
    .moonray-form-input-type-email, .moonray-form-input-type-submit {
      width: 100%;
      float: none;
    }
  }
  .video-optin {
    text-align: center;
    form, h2 {
      width: 100%;
      float: none;
    }
    h2 {
      background:none;
    }
  }
  .people {
    .bordered-image {
      overflow: hidden;
      position: relative;
    }
    .popover {
      display: block;
      left: 110px;
      top: 3px;
      margin-left: 0;
      padding: 20px;
      &:after {
        display: none;
      }
    }
  }
  .wpcf7-submit {
    width: 100%;
  }
}

@media screen and (max-width: 748px) {
  .button-group {
    margin-bottom: 40px;
    [class*="btn"] {
      float: none;
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
      text-align: center;
    }
  }
  .podcast-archive .button-group {
    margin-bottom: 40px;
    .btn-light:last-child {
      margin-left: 0;
    }
  }
  .action-guide {
    background-position: 95% 60px;
    input:not([type=submit]) {
      margin-bottom: 10px;
      width: 100%;
    }
    [class*="btn"] {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 18px;
  }
  .content h1 {
    font-size: 34px;
  }
  .hero {
    h1 {
      padding-top: 0px;
      font-size: 34px;
    }
    .discover-video {
      padding-top: 20px;
    }
  }
  .scroll-page {
    padding-top: 0;
  }
  .home-mobile-nav {
    display: block;
    .logo{
      display: block!important;
    }
  }
  .home-nav{
    display: none;
  }
  .home .optin {
    width: 100%;
  }
  .mobile-nav-toggle {
    display: block;
    margin-top: 8px;
    width: 28px;
    height: 5px;
    border-top: 13px double #9d9d98;
    border-bottom: 4px solid #9d9d98;
    text-indent: -9999px;
  }
  .site-header.fixed-top {
    position: static;
  }
  .site-nav ul {
    margin-top: 10px;
    display: none;
    float: none;
    clear: both;
    text-align: center;
    li {
     display: block;
    }
    a {
      display: block;
      padding: 7px 0;
    }
  }
  .home .optin:after {
    display: none;
  }
  .site-footer .logo {
    margin-bottom: 20px;
  }
  .discover-video .btn-play {
    font-size: 14px;
    margin-left: -98px;
  }
}